h1 {
    color: rgb(63, 123, 66);
font-size: 46px;
font-weight: 100;
font-family: "Badeen Display", system-ui;
letter-spacing:3px ;

}
h1 span {
    color:brown;
 background-color: blueviolet ;
 letter-spacing: 3px;
 
}

span {
    font-size: 77;
    font-weight: 100;
 }