$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 480px;

$padding-big: 24px;
$padding-medium: 16px;
$padding-small: 8px;

$green: #514B23;
$light-green: #656839;
$sage: #CBC9AD;
$ash: #CBD0B9;
$blue: #BDDBD0;

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

ul,
li,
p,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  max-width: $xl;
  padding: 0 $padding-medium;
  height: 90px;
  background-color: $blue;
  display: flex;
  align-items: center;


  .logo {
    font-size: 24px;
    font-weight: bold;
    padding: $padding-small 0;

  }

  &>nav:nth-child(1) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;


    ul.desktop {
      display: flex;
      column-gap: 9px;

      li {
        a {
          font-size: 21px;
          color: $green;
        }
      }

      li.sub {
        position: relative;

        ul {
          position: absolute;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-in-out;
          background-color: $ash;
          min-width: 200px;

          li {
            padding: 5px $padding-big;


          }
        }

        &:hover {
          ul {
            max-height: 150px;

          }
        }
      }
    }

    label.hamburger {

      height: 25px;
      display: block;

      div {

        display: block;
        position: relative;
        height: 5px;
        width: 30px;
        background-color: $ash;


        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          height: 5px;
          width: 30px;
          background-color: $ash;
        }

        &::before {
          bottom: -10px;
        }

        &::after {
          bottom: -20px;
        }



      }
    }
  }


  &>nav:nth-child(2) {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $sage;
    right: -300px;
    transition: all 0.4s;



    ul.mobile {
      display: flex;
      row-gap: 300px;
      flex-direction: column;
            height: 100vh;
justify-content: center;
width:300px ;
padding-left: 36px;

      li {
        a {
          font-size: 40px;
          color: $light-green;
        }
      }

      li.sub {
        li {
          padding-left: 30px;
          a {
            font-size: 30px;
            color: $light-green;
          }
        }
      }


    }
    &>input:nth-child(2) {
    display: none;
    &:checked {
      &+nav {
        right: 0;
      }
    }

  }
}
