.box {

    width: 150px;
    height: 150px;
    border: solid black;
}

.box.red {
background-color: #dc143c70;
border-color: crimson;

}
.box.blue {
background-color: #492be270;
border-color: rgb(45, 34, 205);

}
.section {
margin: 50px;
border: 1px solid gray;
min-height: 400px;

}
.box1 {
position: relative;
top: 30px;
left: 100px;

}
.box2 {
    position: absolute;
    top: 0;
    left: 0;
    


}
.meile {


}