* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

.topPurple {
    width: 100% ;   
    height: 20px ;
    text-align: center;
    background-color: #60267f;
    color: white;
    font-size: 10px;
    padding: 3px 0px 10px 0px;


}
.topHeader {
    width: 100% ;
    height: 90px;
    justify-content: space-between;
    display: flex;

} 
.menu {


    display: flex;

}
.linksContainer {
    display: flex;
   

}